body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
   
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border: 5px;
    border-style: groove;
    width: 60vw;
    height: 40vw;
}

#header {
    display: flex;
    width: 50vw;
    min-height: 10vw;
    flex: 1 1 0;
    align-items: space-between;
}


#clear {
    flex-grow: 1;
    flex-shrink: 1;
}
#display {
    flex: 2 1 0;
    background-color: white;
    text-align: center;
    padding: 5%;
    margin: 1%;
}

button {
    margin: 2px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    flex: auto;
    min-width: 8vw;
    min-height: 3vh;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    flex: 2 1 0;
}



#operators {
    flex: 1 1 0;
    display: flex;
}