body {
   
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border: 5px;
    border-style: groove;
    width: 200px;
   
    
}

#header {
    display: flex;
    width: 200px;
}

#clear {
    flex-grow: 1;
}
#display {
    flex: 2 1 0;
    background-color: white;
    margin: 3px;
    padding: 5px;
}

button {
    margin: 2px;
    padding: 10px;
    text-align: center;
    display: inline-block;
}